# folder logs
project.pbxproj

# files
UserInterfaceState.xcuserstate
geometry.xcodeproj/project.xcworkspace/xcuserdata/todem5.xcuserdatad/UserInterfaceState.xcuserstate
*.moved-aside
*.xcuserstate
timeline.xctimeline
playground.xcworkspace
.build/
